body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.insert{

    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border: solid #555555;
    padding:5px;
    display: inline-block;

}
.articleDiv{
    display: inline-block;
    margin: 25px;
    max-width: 510px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px dimgray;
    padding: 10px;
    font-family: Courier ,"Courier New",serif;
}

.id{

    float:right;
    margin: 0 0 10px 10px;
}
#submit{
    width: 420px;
}

#formDiv{
    margin-left: auto;
    margin-right: auto;
    width:500px;
}

.primary{
    background-color: #eaf2c2;
}

.qrcode{
    width:150px;
    height:150px;
}

.selectSecondaryDiv {
    width: 230px;
   float:left;
}

.qrDiv{
    width: 220px;
    float:right;
    margin-right: 5px;
}
