block content
    form(name="article_input",method="post")
        label Title;
        br
        input(type="text",name="article[title]",size="65",required="true")
        br
        label Article:
        br
        textarea(name="article[article]",cols="50",rows="20" ,required="true")
        br
        label Categories , comma separated:
        br
        input(type="text", name="article[categories]",size="65",required="true")
        br
        label Release Date:
        input(type="date",name="article[date]",required="true")
        br
        input(type="submit",value="submit")

