extends layout
append scripts
    script(src='/javascripts/pickdate.js')

block content
   #formDiv
      form(name="article_input",method="post")
        label Title:
        br
        input(type="text",name="article[title]",size="65",required="true")
        br
        br
        label Article:
        br
        textarea(name="article[article]",cols="50",rows="20" ,required="true")
        br
        label Categories , comma separated:
        br
        input(type="text", name="article[categories]",size="65",required="true")
        br
        br
        label Release Date YYYY-MM-DD:
        input#datepicker(type="text",name="article[date]",required="true")
        br
        br
        label Primary Article:
        input(type="checkbox",name="article[primary]")
        br
        br
        input#submit.insert(type="submit",value="Insert into Database")

