doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery-1.10.0.min.js')
    script(src='/javascripts/edit_article.js')
  body
    a(href="/") Home
    block content